@{
    ViewBag.Title = "Hvem er vi?";
}
<h3>@ViewBag.Message</h3>
<h4>Vi er JKE-Design Kolding</h4>
<div class="row">
    <div class="col-md-3">
        <h4>Vi hedder Carsten og Steen omkring os</h4>
        <label> Mit navn er Carsten Holm Madsen bla. bla.   </label>                 <label>  mit navn er Steen bla. bla. </label>
        
        </div>
    <div class="col-md-3">
        <h4>Vi hedder Carsten og Steen omkring os</h4>
        <label> Mit navn er Carsten Holm Madsen bla. bla.   </label>                 <label>  mit navn er Steen bla. bla. </label>
        
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-6">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1343.166639954273!2d9.45502045923229!3d55.516203014039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c9fb08d78843f%3A0xf496139932a896a7!2sJKE+Design+Kolding+%E2%80%A2+K%C3%B8kken+%26+bad!5e0!3m2!1sda!2sdk!4v1480508731582"></iframe>
            </div>
            
            </div>
    </div>
</div>

    