@{
    ViewBag.Title = "Hvem er vi?";
}

<h3>@ViewBag.Message</h3>
<h4>Vi er JKE design Kolding. Vi hedder Carsten og Steen omkring os</h4>


<label> Mit navn er Carsten Holm Madsen bla. bla.   </label>                 <label>  mit navn er Steen bla. bla. </label>
<h7> <br />Postadresse JKE design Kolding Aps <br /> albuen 9 6000 Kolding <br /> TelefonNR: 76322600 <br /> Mail: jke.kolding.dk </h7>
