@{
    ViewBag.Title = "Finansiering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finansiering</h2>
<h5><b>Finansiering af køkken, bad og garderobe.</b></h5>

<p></p>Hos JKE Design Kolding kan du købe nyt køkken, bad eller garderobe og dele betalingen over 12, 24, 36 eller 48 måneder. Ingen renter. Ingen udbetaling. Ingen gebyrer. Helt enkelt.
Med vores attraktive finansieringsordning kan du låne helt op til 250.000 til et fast beløb om måneden. Se eksempler på finansiering herunder:</p>
<div class="row">
    <div class="col-md-2">
        <p><br /></p>
        <p><b>Ved 10.000: </b></p>
        <p><b>Ved 20.000: </b></p>
        <p><b>Ved 40.000: </b></p>
        <p><b>Ved 60.000: </b></p>
        <p><br /></p>
        <p><b>Ved 100.000: </b></p>
        <p><b>Ved 150.000: </b></p>
        <p><b>Ved 200.000: </b></p>
        <p><b>Ved 250.000: </b></p>
    </div>
    <div class="col-md-2">
        <p><B>Pr. måned i 12 måneder</B></p>
        <p>833/måned</p>
        <p>1.667/måned</p>
        <p>3.333/måned</p>
        <p>5.000/måned</p>
        <p><br /></p>
        <p>8.333/måned</p>
        <p>12.500/måned</p>
        <p>16.667/måned</p>
        <p>20.833/måned</p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2">
        <p><B>Pr. måned i 24 måneder</B></p>
        <p>417/måned</p>
        <p>833/måned</p>
        <p>1.667/måned</p>
        <p>2.500/måned</p>
        <p><br /></p>
        <p>4.167/måned</p>
        <p>6.250/måned</p>
        <p>8.333/måned</p>
        <p>10.417/måned</p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2">
        <p><B>Pr. måned i 36 måneder</B></p>
        <p>278/måned</p>
        <p>556/måned</p>
        <p>1.111/måned</p>
        <p>1.667/måned</p>
        <p><br /></p>
        <p>2.778/måned</p>
        <p>4.167/måned</p>
        <p>5.556/måned</p>
        <p>6.944/måned</p>
    </div>
    <div class="col-md-2">
        <p><B>Pr. måned i 48 måneder</B></p>
        <p>208/måned</p>
        <p>417/måned</p>
        <p>833/måned</p>
        <p>1.250/måned</p>
        <p><br /></p>
        <p>2.083/måned</p>
        <p>3.125/måned</p>
        <p>4.167/måned</p>
        <p>5.208/måned</p>
    </div>
    <!-- /.col-md-4 -->
</div>
<p><br /></p>
<p>
    Tilbuddet om finansiering gælder kun privatkunder og kan ikke kombineres med andre tilbud og rabatter. JKE Design Kolding formidler finansiering i samarbejde med Nordea Finans.
</p>