@{
    ViewBag.Title = "Home Page";
}

    <div id="myCarousel" class="carousel slide col-md-12 row top-buffer" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1150x500/cccccc/ffffff">
                <div class="carousel-caption">
                    <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat.
                    </p>
                </div>
            </div><!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1150x500/999999/cccccc">
                <div class="carousel-caption">
                    <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat.
                    </p>
                </div>
            </div><!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1150x500/dddddd/333333">
                <div class="carousel-caption">
                    <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    </p>
                </div>
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->
        <ul class="list-group col-md-3 carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
    </div><!-- End Carousel -->

    <div class="row">
        <div class="col-md-3">
            <h2>Bestil vores katalog</h2>
            <a href="http://jke-design.dk/katalog" button type="button" class="btn btn-primary">Bestil her</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <p>Du kan også se kataloget online <a href="http://inspiration.jke-design.dk/JKEDesign/DK/Kkkenliv20152016/">her.</a> </p>.
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-3">
            <h2>Book et møde</h2>
            <a href="@Url.Action("Contact", "Home")" button type="button" class="btn btn-primary">Book her</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-3">
            <h2>Se vores udvalg</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <div class="col-md-3">
            <h2>Vores hovedside</h2>
            <a href="http://jke-design.dk/">Link her</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
</div>