@{
    ViewBag.Title = "Info om os";
}
<div class="row">
    <div class="col-md-6">
        <h3>@ViewBag.Message</h3>
        <p>Vi er JKE-design Kolding. Vores navn Carsten Madsen og og Steen Christensen omkring os (info om virksomhed hvornår de startede)</p>
        <div class="col-md-6">
            <label> Mit navn er Carsten Madsen om mig (arbejdet i virksomheden x år f.eks. erfering inde for køkkenbranchen)......
            <br /> du kan kontakte mig på: <br />telefonnummer: 25785583 <br /> eller på mail: cm@jke-kolding.com    </label>
        </div>
        <div class="col-md-6">
            <label>  mit navn er Steen Christensen om mig (arbejdet i virksomheden x år f.eks. erfering inde for køkkenbranchen)..... 
            <br /> du kan kontakte mig på: <br /> telefonnummer: 25785593 <br /> eller på mail: sc@jke-kolding.com</label>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Sociale medier...</h3>
        </div>
    </div>
