@{
    ViewBag.Title = "Info om os";
}
<h2>Info om vores butik i Kolding</h2>
<div class="row">
    <div id="myCarousel" class="carousel slide col-md-8 row top-buffer" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">

                <img src="~/Content/Images/facade_2.jpg" />
                
            </div><!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1120x600/999999/cccccc">
                
            </div><!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1120x600/dddddd/333333">
                
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->
        <ul class="list-group col-md-3 carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Om os</h3>
        <p>Vi er et team af erfarne køkkenarkitekter, som leverer solid personlig rådgivning.<br />
Vi har været på den samme adresse siden 2005.<br />
Vi sørger for, at du får den bedste løsning og kvalitet -  til den rigtige pris.<br />
Vi kontrollerer ordren inden endelig bestilling, således at fejl minimeres.<br />
Vi følger personligt processen, når køkkenet monteres.<br />
Vi sørger for,  at du bliver tilfreds med det endelige resultat.</p>
        
        <h4>Find os på de sociale medier</h4>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" media="screen">  
                    <div class="btn-group-lg">
                        <a href="https://www.facebook.com/JKE-Design-AS-191716800839088/" type="button" class="btn btn-default"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/jkedesignas/" button type="button" class="btn btn-default"><i class="fa fa-instagram"></i></a>
                        <a href="https://dk.pinterest.com/jkedesign/" button type="button" class="btn btn-default"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
