@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Links til samarbejdspartner</h2>
<div class="row">
    <div class="col-md-4">
        <a href="https://www.aeg.dk/">
            <img src="~/Content/Images/AEG logo.png" height="50" />
        </a>
        <p>AEG</p>
    </div>
    <div class="col-md-4">
        <a href="http://blanco.dk/">
            <img src="~/Content/Images/Blanco logo.png" height="50" />
        </a>
        <p>Blanco</p>
    </div>
    <div class="col-md-4">
        <a href="http://cassoe.dk/">
            <img src="~/Content/Images/cassøe logo.png" height="50" />
        </a>
        <p>Cassøe</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="http://thermex.dk/">
            <img src="~/Content/Images/CTThermex.jpg" height="50" />
        </a>
        <p>Thermex</p>
    </div>
    <div class="col-md-4">
        <a href="http://www.dfi-geisler.com/da/">
            <img src="~/Content/Images/DFI geisler.jpg" height="50" />
        </a>
        <p>DFI-geisler</p>
    </div>
    <div class="col-md-4">
        <a href="http://www.eico.dk/">
            <img src="~/Content/Images/Eico logo.jpg" height="50" />
        </a>
        <p>Eico</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="http://www.franke.com/kitchensystems/dk/da/home.html">
            <img src="~/Content/Images/Franke logo.png" height="50" />
        </a>
        <p>Franke</p>
    </div>
    <div class="col-md-4">
        <a href="http://gerson.dk/">
            <img src="~/Content/Images/GERSON logo.jpg" height="50" />
        </a>
        <p>Gerson</p>
    </div>
    <div class="col-md-4">
        <a href="http://www.bech-glas.dk/">
            <img src="~/Content/Images/JN bech logo.jpg" height="50" />
        </a>
        <p>JN bech</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="https://www.kuma.dk/">
            <img src="~/Content/Images/Kuma-logo.jpg" height="50" />
        </a>
        <p>Kuma</p>
    </div>
    <div class="col-md-4">
        <a href="http://miele.dk/">
            <img src="~/Content/Images/Miele Logo.png" height="50" />
        </a>
        <p>Miele</p>
    </div>
    <div class="col-md-4">
        <a href="http://www.neff-home.dk/">
            <img src="~/Content/Images/Neff logo.png" height="50" />
        </a>
        <p>NEFF</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="http://www.quooker.dk/dk">
            <img src="~/Content/Images/Quooker logo.png" height="50" />
        </a>
        <p>Quooker</p>
    </div>
    <div class="col-md-4">
        <a href="http://www.siemens-home.bsh-group.com/dk/">
            <img src="~/Content/Images/Siemens logo.png" height="50" />
        </a>
        <p>Siemens</p>
    </div>
    <div class="col-md-4">
        <a href="http://witt.dk/">
            <img src="~/Content/Images/witt_logo.jpg" height="50" />
        </a>
        <p>Witt</p>
    </div>
</div>

